body {
    background-color: #facf79;  
    height: 100%;  
}

.devoured {
    font-size: 11px;
}

.burgerItem {
    text-align: center;
}

#burgerTable {
    text-align: center;
}

.burgerImage {
    width: 150px;
}

.message {
    font-size: 14px;
}